.stack-work/*
.liquid/*
data/*
*.swp
cabal-helper*build/
log.txt
*.csv
.hspec-failures
*.cabal
.vscode
stack.yaml.lock

out
result
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
dist-newstyle
.stack-work
stack.yaml.lock
*.cabal

.ghci
.ghcid

.idea/
*.iml

*.diff
*.patch
tags

.vscode/
.nvimrc
